<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <io.jenkins.plugins.ddt.QADDT plugin="ddt@0.1">
      <name>f6a2a5a3353e62c2ba7563362b179cd2f7efb92f</name>
      <tags>aa,gggg</tags>
    </io.jenkins.plugins.ddt.QADDT>
    <io.jenkins.plugins.ddt.QADDT plugin="ddt@0.1">
      <name>sadasaasddasd as dasd asda</name>
      <tags></tags>
    </io.jenkins.plugins.ddt.QADDT>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>